*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
}

nav li{
    list-style: none;
    display: inline;
}

nav a{
    text-decoration: none;
    margin: 20px;
    color: gray;
}

.plan{
    border: 2px solid black;
    padding: 10px;
}

header{
   display: flex;
   justify-content: space-around;
    margin-top: 50px;
    background-color: rgb(15, 15, 37);
    padding: 70px;
}

header div h1{
    width: 35%;
    font-size: 40px;
}

header div p{
    width: 37%;
    margin-top: 20px;
}

header div button a{
    text-decoration: none;
    color: white;
}

header div button{
    margin-top: 30px;
    padding: 7px;
    border: 2px solid white;
    background-color:rgb(15, 15, 37);
}

main{
    margin-top: 300px;
    margin-left: 200px;
}

main .boy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
} 

.boy div h3{
    margin-top: 20px;
}

.boy div p{
    margin-top: 20px;
    width: 65%;
    color: gray;
}

section{
    margin-top: 150px;
}

section div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(15, 15, 37);
    padding: 50px;
    background-color: rgb(15, 15, 37);
    margin: 0 200px;
}

section div h1{
    width: 19%;
    color: white;
}

section div button a{
    text-decoration: none;
    color: white;
}

section div button{
    padding: 8px;
    border: 2px solid white;
    background-color: rgb(15, 15, 37);
}

footer{
    margin-top: 150px;
    background-color: rgb(231, 227, 222);
}

footer div .mumu{
    margin-left: 100px;
}

footer .footer-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-link li{
    list-style: none;
    display: inline;
}

footer .footer-link a{
    text-decoration: none;
    margin: 10px;
}

footer .she{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

footer .she a{
    text-decoration: none;
    color: black;
}

footer .she h5{
    color: grey;
}

footer .she ul li{
    display: block;
    margin-top: 10px;
}

footer .she .lol{
    margin-bottom: 20px;
}

footer .pull img{
    margin-left: 145px;
}

@media only screen and ( max-width:800px){
   nav div ul{
    display: none;
   }

   nav div ul .plan{
    margin-top: 20px;
    margin-bottom: 20px;
   }
   
    header{
        flex-direction: column;  
    }

    header div{
        width: 250%;
        color: white;
    }

    header div button{
        margin-top: 20px;
    }
 
    main{
        margin: 0;
        
    }

    main h1{
        margin-top: 40px;
        margin-left: 60px;
    }

    main .boy{
        flex-direction: column;
        margin-left: 100px;
        /* width: 150%; */
    }


    section div{
        flex-direction: column;
        margin: 0 40px;
    
    }

    section div h1{
        width: 100%;
    }

    section div button{
        margin-top: 30px;
    }

    footer .footer-link{
        flex-direction: column;
    }    

    footer .footer-link .mumu{
        margin-top: 40px;
        margin-bottom: 20px;
        margin-right: 40px;
    }
 
    footer .she{
        flex-direction: column;
        text-align: center;
        /* margin-left: 150px; */
    }
    footer .she ul{
        margin-top: 20px;
    }
}

